{
margin: 0;
padding: 0;
}
body{
    width: 90%;
    height: 90%;
    background-color: rgb(1, 38, 38);
    color: white;
    /*position-area: 100%;*/   
}

img{

    height: 70px;
    margin-right: 50px;
}
img{
height: 100px;
margin-left:100px;

.logo {
 display: flex100;
 align-items: center;
 gap: 10px;
 padding: 30px;
 /*border: 1px solid white;*/
 }
 header {
 padding: auto; ;
display: flex;
justify-content: space-between;
background-color: rgba(24, 25, 26, 0.924);

 }
 .logo h1{

    color: tomato;
 }
.menu{
margin: 20px;
}
.menu ul{
    display: flex;
    gap: 20px;
    align-items: center;
    list-style: none;
}
.menu ul li a{

    color: white;
    text-decoration: none;
    font-size: 20px;
    font-style: oblique;
    }
    .hero img{
        top: 0;
        left: 0;

    }